<%= form_for(@gameuser) do |f| %>
  <% if @gameuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gameuser.errors.count, "error") %> prohibited this gameuser from being saved:</h2>

      <ul>
      <% @gameuser.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
